
:root{
    --cardh: height: 60px;  
    --cardw: width: 90px;
    --cardtitlew: width: 30px
    --cardtitleh: height: 15px
    --cardpos: position: absolute;
    --rightpos: right: 50px;
    
        
}

html{
    background-color: gray;
}
body{
    width: auto;
    height: 500px;
    
}

.ctitle{
    background-color: rgb(13, 5, 83);
    width: fit-content;
    /* position: relative; 
    left: 10px; */
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
}   
header{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: auto;
    font-size: 24px;
    background-color: rgb(129, 2, 2);
    border: 10px solid rgb(71, 4, 51);
    
}
#selfie{
    width: 200px;
    height: 400px;
    position: relative;
    left: 150px;
}
/* #alex{
    background-color: rgb(62, 4, 117);
    width: fit-content;
    position: relative;
    left: 600px; */
/* } */
p{
    color: palegoldenrod;
}

.About-me{
    height: fit-content;
    width: 500px;
    background-color: rgb(4, 50, 110);
    padding-left: 10px;
    border: 3px solid rgb(151, 45, 65);
    margin: 10px;


}
.allcard{
    position: relative;
    left: 567px;
    bottom: 600px;    
}
#project{
    position: relative;
    left: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(129, 2, 2);
    padding: 3px;
    border: 3px dotted rgb(151, 45, 65);
    margin: 3px;
}
.workcard :hover{
    background-color: pink;

}
.workcard{
    background-image: url("images/Selfie.jpg"), url("paper.gif");
    background-color: rgb(4, 50, 110) ;
    width: 300px;
    margin: 20px;
    padding: 30px;
    border: solid rgb(75, 15, 25) 5px;
}